{
  "mqtt": {
    "server": "192.168.***:1883"
  },
  "wifi": {
    "sta": {
      "pass": "***"
    }
  },
  "app": {
    "module_id": 0,
    "unit_id": 0,
    "unit_type": "",
    "visit_unit_left_pin": 5,
    "visit_unit_right_pin": 4,
    "visit_unit_emitter_pin": 14
  },
  "debug": {
    "level": 3,
    "stderr_topic": "stdout",
    "stderr_uart": 0,
    "stdout_topic": "stdout",
    "stdout_uart": 0
  }
}